<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} -- PYE</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.webp">
    <link rel="stylesheet" id="pagestyle" href="static/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="PYE homepage">
    <meta name="locale" content="en-us">
    <meta name="keywords" content="website tags">
    
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}">
    <meta property="og:site_name" content="PYE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pye.example.org/{{ request.endpoint }}">
    <meta property="og:image" content="https://pye.example.org/images/favicon.webp">
    <meta property="og:description" content="PYE Homepage">
  </head>
            
  <body>
    <nav>
      <a class="tab" id="{% block homeactive %}{% endblock %}" href="/home">Home</a>
      {% if current_user.type == "Parent" or current_user.type == "Teacher" %}
        <a class="tab" id="{% block gradesactive %}{% endblock %}" href="/grades">Grades</a>
        <a class="tab" id="{% block fbactive %}{% endblock %}" href="/feedback">Feedback</a>
      {% endif %}
      {% if current_user.type == "Admin" %}
        <a class="tab" id="{% block admactive %}{% endblock %}" href="/admin">Admin</a>
      {% endif %}
      <a id="logout" href="/logout">Logout</a>
    </nav>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
