{% extends 'base.html.j2' %}

{% block title %}Home{% endblock %}
{% block ogtitle %}Home{% endblock %}

{% block homeactive %}active{% endblock %}

{% block content %}

<div style="display: flex; align-items: center; width: 100%; flex-direction: column;">
  <h1>Bonjour {{ username }} !</h1>
  <div class="tile_container">
    <a class="tile" href="https://mail.google.com" target="_blank">
      <img class="tile_img" src="https://ssl.gstatic.com/ui/v1/icons/mail/logo_loading.png" alt="GMAIL">
      <p>Mes mails</p>
    </a>
    {% if current_user.type == "Teacher" or current_user.type == "Student" %}
    <a class="tile" href="/courses">
      <img class="tile_img" src="/static/pye.svg" alt="">
      <p>Mes cours</p>
    </a>
    <a class="tile" href="https://classroom.google.com/" target="_blank">
      <img class="tile_img" src="https://www.gstatic.com/classroom/logo_square_rounded.svg" alt="">
      <p>Google classroom</p>
    </a>
    <a class="tile" href="https://desktop.biceps.ch/prive/accueil.html" target="_blank">
      <img class="tile_img"
        src="https://www.biceps.ch/typo3conf/ext/template_biceps_frontend/Resources/Public/Images/avatar_biceps.svg"
        alt="">
      <p>Biceps.CH</p>
    </a>
    {% endif %}
    {% if current_user.type == "Admin" %}
    <a class="tile" href="https://admin.google.com" target="_blank">
      <img class="tile_img" src="https://fonts.gstatic.com/s/i/productlogos/admin_2020q4/v6/192px.svg" alt="">
      <p>Google admin</p>
    </a>
    {% endif %}
    <!--TODO : QUIZLET-->
  </div>
</div>

{% endblock %}