<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.webp">
    <link rel="stylesheet" id="pagestyle" href="static/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="PYE homepage">
    <meta name="locale" content="en-us">
    <meta name="keywords" content="website tags">
    
    <meta property="og:title" content="PYE -- Home">
    <meta property="og:site_name" content="PYE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pye.example.org/">
    <meta property="og:image" content="https://pye.example.org/images/favicon.webp">
    <meta property="og:description" content="PYE Homepage">
  </head>
            
  <body>
    <div id="content" style="min-height:calc(100% - 92px);">
      <div id="login-card">
        <form action method="post" id="login-form">
          <label class="login-label"for="email">Email</label>
          <input class="login-input" id="email" name="email" type="email" required>
          <label class="login-label" for="password">Password</label>
          <input class="login-input" id="password" name="password" type="password" required>
          <input class="login-input" id="submit" name="submit" type="submit" value="Login">
        </form>
      </div>
    </div>
    <footer style="width:100%;padding:20px 0;margin-top:30px;justify-content:center;" class="no-print">
      <a href="https://github.com/PadjokeJ/PYE" target="_blank">Source</a>
    </footer>
  </body>
</html>
