{% extends 'base.html' %}

{% block title %}Politique de confidentialité{% endblock %}
{% block ogtitle %}Politique de confidentialité{% endblock %}


{% block content %}
<div class="island" style="padding: 0 100px;flex-direction: column;">
  <h2>Politique de confidentialité</h2>
  <p>Ce site (donc n'importe quel lien se précédant par <a href="{{ request.host_url }}">{{ request.host_url }}</a>) peut collectionner vos données personnelles, voici une page décrivant ce que nous faisons avec vos données et pourquoi.</p>
  <h3>Hébergement</h3>
  <p>Ce site est hébergé chez avec un serveur virtuel privé ("VPS") chez <a href="https://infomaniak.com">infomaniak</a>. Le serveur en lui même est situé à Plan-les-ouattes.</p>
  <h3>Quelles données sont collectées</h3>
  <p>En vous créant un compte sur le site, votre adresse mail, nom et prénom sont stockés sur la base de données interne. Vous devrez également choisir un mot de passe qui sera <a href="https://fr.wikipedia.org/wiki/SHA-2">haché par SHA-256</a> afin qu'il soit rendu illisible et impossible à retrouver, même par les administrateurs du site.</p>
  <p>Tout cours, et leurs données associées (par exemple les étudiants enregistrés à un cours) sont stockés sur la base de données interne. Les administrateurs du site peuvent lire et accéder à ces données</p>
  <h3>Que faisons nous avec vos données</h3>
  <p>Toute donnée qui est mise sur le site, reste sur le site. Elles ne seront jamais communiquées à des services tiers. Elle ne sont que mises à disposition des utilisateurs du site ayant les droits appropriés, c'est-à-dire certains enseignants, la direction, et les administrateurs.</p>
</div>
{% endblock %}
