<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.webp">
    <link rel="stylesheet" id="pagestyle" href="/static/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="PYE homepage">
    <meta name="locale" content="en-us">
    <meta name="keywords" content="website tags">
    
    <meta property="og:title" content="PYE -- Home">
    <meta property="og:site_name" content="PYE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pye.example.org/">
    <meta property="og:image" content="https://pye.example.org/images/favicon.webp">
    <meta property="og:description" content="PYE Homepage">
  </head>
            
  <body>
    <div id="content">
      <div id="login-card">
        <form action method="post" id="login-form">
          <h1 style="margin-top:0;">Please choose a new password</h1>
          <i>Your password must contain at least 8 characters</i>
          <label class="login-label" for="password">New password</label>
          <input class="login-input" id="password" name="password" type="password" required pattern="^.{8}$">
          <label class="login-label" for="password">Confirm password</label>
          <input class="login-input" id="confirm" name="confirm" type="password" required pattern="^.{8}$">
          <button class="login-input" id="submit" name="submit" type="submit">Reset</button>
        </form>
      </div>
    </div>
  </body>
</html>
