{% extends 'base.html' %}

{% block title %}{{ student.student.user.firstname }} {{ student.subject.name }}{% endblock %}
{% block ogtitle %}{{ student.student.user.firstname }} {{ student.subject.name }}{% endblock %}

{% block cactive %}active{% endblock %}

{% block content %}

<div style="display: flex; align-items: center; width: 100%; flex-direction: column;">
  <a style="margin-top:20px;padding: 5px 20%;box-shadow: var(--shadow) 2px 2px 10px;border-radius: 15px;"
    href="/courses/{{ student.subject_id }}">Back</a>
  <h1 style="margin-bottom:0;">{{ student.student.user.firstname }} {{ student.student.user.name }}</h1>
  <i>{{ student.subject.name }}</i>
  <div style="margin-top:20px;">
    <label for="hide">Cacher le cours</label>
    <input style="min-width:0;" type="checkbox" name="hide" value="hide" id="hide" {% if student.hidden %}checked{%
      endif %}>
    <script>
      document.getElementById("hide").addEventListener("input", () => {
        fetch("/hide-course/{{ student.id }}?hide=" + document.getElementById("hide").checked, {
          method: "POST"
        });
      })
    </script>
  </div>
  <div>
    {% for mod in student.modules %}
    <div>
      <h2>{{ mod.subject.title }}</h2>
      <div class="student_outer">
        <form action="/student/module/{{ mod.id }}" method="POST" class="student_inner">
          <h2 style="text-align: center;">Total</h2>
          
          <div style="align-items:center; display:flex;">
            <label style="margin-top:0; width:30%;" for="progress">Progrès: <span id="span-{{ mod.id }}">{{
                mod.progress }}</span>%</label>
            <input style="margin: 0 5px; min-width:0; width:70%;" type="range" name="progress"
              id="progress-{{ mod.id }}" value="{{ mod.progress }}">
          </div>
          <div style="align-items:center; display:flex;">
            <label for="passed">Cours réussi</label>
            <input style="min-width: 20px; min-height: 20px; margin: 10px 0 0 10px;" type="checkbox" id="passed"
              name="passed" value="passed" {% if mod.passed %}checked{% endif %}>
          </div>
          <div style="align-items:center; display:flex;">
            <label for="optional">Cours pas étudié</label>
            <input style="min-width: 20px; min-height: 20px; margin: 10px 0 0 10px;" type="checkbox" id="optional"
              name="optional" value="optional" {% if mod.optional %}checked{% endif %}>
          </div>
          <input id="submit" type="submit" name="submit" value="Mettre à jour">
        </form>
        {% for category in mod.categories|sort(attribute='category.title') %}
        <form action="/student/category/{{ category.id }}" method="POST" class="student_inner">
          <h2 style="text-align: center;">{{ category.category.title }}</h2>
          <div style="align-items:center; display:flex;">
            <label style="margin-top:0; width:30%;" for="progress">Progrès: <span id="span-cat-{{ category.id }}">{{
                category.progress }}</span>%</label>
            <input style="margin: 0 5px; min-width:0; width:70%;" type="range" name="progress"
              id="progress-cat-{{ category.id }}" value="{{ category.progress }}">
          </div>
          <div style="align-items:center; display:flex;">
            <label for="passed">Cours réussi :</label>
            <input style="min-width: 20px; min-height: 20px; margin: 10px 0 0 10px;" type="checkbox" id="passed"
              name="passed" value="passed" {% if category.passed %}checked{% endif %}>
          </div>
          <div style="align-items:center; display:flex;">
            <label for="optional">Module pas étudié</label>
            <input style="min-width: 20px; min-height: 20px; margin: 10px 0 0 10px;" type="checkbox" id="optional"
              name="optional" value="optional" {% if category.optional %}checked{% endif %}>
          </div>
          <input id="submit" type="submit" name="submit" value="Mettre à jour">
        </form>
        <script>
      document.getElementById("progress-cat-{{ category.id }}").addEventListener("input", () => {
        document.getElementById("span-cat-{{ category.id }}").innerHTML = document.getElementById("progress-cat-{{ category.id }}").value;
      });
    </script>
        {% endfor %}
      </div>
    </div>
    <script>
      document.getElementById("progress-{{ mod.id }}").addEventListener("input", () => {
        document.getElementById("span-{{ mod.id }}").innerHTML = document.getElementById("progress-{{ mod.id }}").value;
      });
    </script>
    {% endfor %}
  </div>
</div>

{% endblock %}
