:root {
  --background: #ffffff;
  --background-2: #eaeaea;
  --main: #222233;
  --shadow: #00000055;
  --green: #2a4;
  --orange: #a81818;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--main);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #222233;
    --background-2: #44444f;
    --main: #ffffff;
    --shadow: #000000CC;
  }
}

#content {
  flex: 1;
  width: 100%;
  min-height: calc(100% - 154px);
  display: flex;
}

#login-card {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--background);
  box-shadow: 5px 5px 10px 2px var(--shadow);
}

input,
.button {
  min-width: 300px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: inset var(--shadow) 2px 2px 2px;
  background-color: var(--background-2);
}

input#submit,
.button {
  box-shadow: inset var(--shadow) -2px -2px 5px 1px, var(--shadow) 1px 1px 3px; 
  cursor: pointer;
}

input#submit:hover,
.button:hover {
  filter: brightness(90%);
}

.button {
  text-align: center;
  text-decoration: none;
}

select {
  min-width: 300px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: inset var(--shadow) 2px 2px 2px;
  background-color: var(--background-2);
}

button {
  box-shadow: inset var(--shadow) -2px -2px 5px 1px, var(--shadow) 1px 1px 3px; 
  border: none;
  border-radius: 20px;
  padding: 5px;
}

label {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 15px;
}

nav, footer {
  background-color: var(--background);
  box-shadow: var(--shadow) 0 0 30px;

  display: flex;
}

.island {
  flex: 1;
  justify-content: center;
  align-items: center;

  display: flex;
}

#form {
  display: flex;
  flex-direction: column;
  align-self: center;

  padding: 20px;
  width: 400px;

  box-shadow: var(--shadow) 5px 5px 40px;
  border-radius: 20px;

  background-color: var(--background);
}

.tab {
  height: 100%;
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;

  box-shadow: inset var(--shadow) 0 0 0;
  transition: box-shadow ease 0.2s;

  border: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}

.tab:hover {
  box-shadow: inset var(--shadow) 2px 2px 10px;
}

.tab#active {
  box-shadow: var(--shadow) 2px 2px 20px;
}

#logout {
  right: 0;
  position: absolute;
  padding: 20px;
}

.course_progress {
  display: flex;
  padding: 10px;
  margin: 0;
  box-shadow: var(--shadow) 2px 2px 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.left_grad:before {
  box-shadow: 20px 0 20px -20px var(--main) inset;
  content: " ";
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.left_grad {
  position: relative;
  padding-left: 10px;
  border-left: 2px solid;
  height: 22px;
}

progress.class-passed {
  accent-color: var(--green);
}

progress:not(.class-passed) {
  accent-color: var(--orange);
}

.modules {
  padding: 0;
}

li.module {
  display: block;

  box-shadow: var(--shadow) 5px 5px 40px;
  padding:20px;

  margin-top:15px;
  margin-bottom: 15px;
  background-color: var(--background);
  border-radius: 40px;
}

.student_outer {
  display: flex;
  flex-direction: column;
  align-self: center;

  box-shadow: var(--shadow) 5px 5px 40px;
  border-radius: 40px;

  background-color: var(--background);

  margin:20px;
  padding: 20px;
  min-width: 300px;
}

.student_inner {
  display: flex;
  flex-direction: column;
  align-self: center;

  box-shadow: var(--shadow) 5px 5px 40px;
  border-radius: 20px;
  margin: 20px;

  background-color: var(--background);

  width: 400px;
  padding: 20px;
}

.tile {
  padding: 40px;
  margin: 10px;
  border-radius: 20px;
  background-color: var(--background);
  box-shadow: var(--shadow) 2px 2px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile_img {
  max-width: 128px;
  max-height: 128px;
}

.tile_container {
  display: grid;
  grid-template-columns: auto auto;
}

@media print {
  .no-print {
    display: none !important;
  }
}
